.bugger {
    align-items: center;
    background-color: #A588BF;
    border-radius: 4px;
    color: white;
    display: inline-flex;
    height: 24px;
    justify-content: center;
    width: 24px;
}
