.chart-container {
    position: relative;
}

.ct-grid {
    &.ct-horizontal:first-of-type,
    &.ct-horizontal + .ct-vertical {
        stroke-dasharray: none;
    }
}

.ct-label {
    &.ct-horizontal {
        white-space: nowrap;
    }
}

.ct-chart-line {
    position: relative;
}

.ct-chart {
    position: relative;

    &--bar {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;

        .ct-series {
            opacity: 0.2;

            &.active {
                opacity: 0.6;
            }
        }
    }

    &--line {
        position: relative;
        z-index: 1;

        .ct-series {
            stroke: black;

            &:hover {
                cursor: pointer;

                .ct-line {
                    stroke-width: 3px;
                }
            }

            &.active {
                animation: 'dashOffset' 1s linear infinite;
                stroke-dasharray: 20px 5px;

                .ct-line {
                    stroke-width: 3px;
                }
            }

            .ct-line {
                stroke-width: 2px;
            }
        }

        .ct-point {
            opacity: 0;
            position: relative;
            z-index: 1;

            &.active {
                opacity: 1;
            }
        }
    }
}

.sparkline {
    border: 1px dashed #252525;
    height: 350px;
    left: auto;
    position: absolute;
    top: 15px;
}

.sparkline-tooltip {
    background-color: #252525;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    padding: 8px;
    position: absolute;
    // transform: translate(-50%, -50%);

    // left: 50%;
    // top: 50%;
}

@keyframes dashOffset {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -25px;
    }
}
