.color-select {
    position: relative;

    &__color {
        border-radius: 4px;
        height: 24px;
        margin: 4px;
        width: 24px;

        &:hover {
            cursor: pointer;
        }

        &--preview {
            border: 1px solid #D9D9D9;
        }
    }

    &__colors {
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        display: none;
        flex-wrap: wrap;
        position: absolute;
        width: 66px;
        z-index: 1;

        &.active {
            display: flex;
        }
    }
}
