
.envelope {
    background-color: white;
    border-top: 1px solid #D9D9D9;
    display: flex;
    transition: 150ms;

    &:hover {
        background-color: #F5F5F5;
        cursor: pointer;
    }

    &--active {
        background-color: #4A90E2;
        color: white;

        &:hover {
            background-color: #4A90E2;
        }

        .envelope__icon {
            &--active {
                transform: scale(1);
                // opacity: 1;
            }

            &--inactive {
                transform: scale(0);
            //     opacity: 0;
            }
        }
    }

    &--unallocated {
        border: none;
        justify-content: space-between;
        padding: 18px 24px;

        .envelope__amount {
            color: #09B08A;
            font-weight: bold;

            &--debit {
                color: #CA2035;
            }
        }
    }

    &__amount,
    &__name {
        margin: 0;
    }

    &__action,
    &__content {
        display: flex;
    }

    &__action {
        align-items: center;
        justify-content: center;
        width: 72px;
        position: relative;
    }

    &__content {
        flex-grow: 1;
        justify-content: space-between;
        padding: 18px 24px 18px 0;
    }

    &__icon {
        align-items: center;
        background-color: white;
        border-radius: 50%;
        display: flex;
        height: 32px;
        justify-content: center;
        position: absolute;
        transition: 150ms;
        width: 32px;

        &--active {
            border-radius: 50%;
            transform: scale(0);
            // opacity: 0;
        }
    }
}

.envelope.theme-dark {
    .envelope__amount,
    .envelope__name {
        color: white;
        font-weight: bold;
    }

    svg {
        fill: #4A90E2;
        // position: absolute;
    }
}

.envelopes {
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    overflow: hidden;
}
