.input-box {
    @extend .type--body-1;
    align-items: center;
    border: 1px solid rgba(#4C3E58, 0.4);
    border-radius: 4px;
    display: inline-flex;
    justify-content: space-between;
    margin: 0;
    padding: 8px 24px 8px 16px;

    svg {
        margin-right: 8px;
    }
}
