.select {
    @extend .type--body-1;
    appearance: none;
    border: 1px solid rgba(#4C3E58, 0.4);
    border-radius: 4px;
    margin: 20px 0;
    max-width: 220px;
    padding: 6px 40px 6px 16px;
    transition: 150ms;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    // overflow: hidden;

    &:focus {
        background-color: rgba(#A588BF, 0.1);
        border-color: #372D40;
        outline: none;
    }

    &:hover {
        border-color: #372D40;
    }
}
