.toolbar {
    align-items: center;
    border-bottom: 1px solid #D8D8D8;
    display: flex;
    min-height: 55px;

    &__action {
        padding: 14px 16px;

        &:hover {
            cursor: pointer;
        }
    }

    &__menu {
        padding: 14px 20px 14px 16px;
        width: 60px;

        &:hover {
            cursor: pointer;
        }
    }

    &__title {
        @extend .type--title;
        flex-grow: 1;
    }

    &__utility {
        display: flex;
    }

    @include breakpoint($min: 'desktop') {
        margin: 0 48px;
    }
}

.avatar {
    margin-right: 16px;
}
