.transaction {
    align-items: center;
    border-top: 1px solid #D9D9D9;
    display: flex;
    margin: 0;
    padding: 8px 24px;
    transition: 100ms;

    &:first-child {
        // border-top: none;
        margin-top: 0;
    }

    &:hover {
        background-color: #F5F5F5;
    }

    &--pending {
        opacity: 0.6;
        font-style: italic;
    }

    &--section-header {
        background-color: #F5F5F5;
        border: none;
        margin-top: 16px;
        padding: 16px 24px;
    }

    &__amount,
    &__date,
    &__name,
    &__pending-indicator {
        margin-bottom: 0;
    }

    &__amount {
        min-width: 80px;
        text-align: right;

        &--credit {
            @extend .color--success;
            font-weight: bold;
        }
    }

    &__date {
        margin: 0 16px 0 0;
    }

    &__name {
        flex-grow: 1;
    }

    &__pending-indicator {
        margin-left: 8px;
    }
}
